*{
    padding: 0%;
    margin: 0%;

}

.jumbotron {
    padding-top: 0%;
    padding-bottom: 0%;

}

.carousel{
    position: relative;
}

*, ::after, ::before{
    box-sizing: border-box;
}

div {
    display: block;
}

